@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


html{
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f9fafb;
}

p {
  margin: 15px;
  line-height: 1.5;
  text-align: justify;
}

.post-body ul,
ol {
  list-style: disc;
  font-size: 110%;
  line-height: 2;
  font-weight: bold;
  margin: 10px 30px;
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
  overflow-x: auto;
}

.post-body a{
  font-weight: 900;
    color: blue;
}

.post-body p{
  margin-bottom: 15px;
}

.post-body h1{
  font-size: 200%;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 10px
}

.post-body h2{
  font-size: 150%;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 5px
}

@tailwind base;
@tailwind components;
@tailwind utilities;